@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.Liber a.item.active:hover,.Liber textarea,.Liber main,.Liber .head .rexrow{background:#4f3c1c ; }
.Liber .talentliste,.Liber .faiblesseliste,.Liber .typerepos ,.Liber .jourliste,.Liber .heure,.Liber .items input.maingaucequi,.Liber .items input.maindroiequi,.Liber .items input.armurequi,.Liber .stat input,.Liber .stat2 input,.Liber .features input,.Liber .stats select,.Liber a.item:hover{background:#181003; }
.Liber .autres{background: #4f3c1c url(font.png) bottom right no-repeat; }
.Liber a.item.active{background: #8f1a28;}
.Liber .stats input,.Liber .reposer,.Liber input[type="button"],.Liber .stat2 label,.Liber .modif button.desequi,.Liber .carac input[type="button"],.Liber .items .desequi,.Liber .items .jetdedegat,.Liber .addsort{background:#8f1a28;}/*e13b23*/
.Liber .stat2 label.secstat:hover,.Liber .stats input:hover,.Liber .reposer:hover,.Liber input[type="button"]:hover,.Liber .stat2 label:hover,.Liber .modif button.desequi:hover,.Liber .carac input[type="button"]:hover,.Liber .items .desequi:hover,.Liber .items .jetdedegat:hover,.Liber .addsort:hover{background:#e13b23;}/*e13b23*/
.Liber .stat2 label.secstat{background: #dd8376;}
.Liber a.item,.Liber h2 ,.Liber .head,.Liber header,.Liber .tabs,.Liber .items-list .item-description,.Liber .items-list .item-description2{background: #181003;}
.Liber .deno{width: 206px;border-bottom: 1px solid #643737;padding: 0px;display: block;margin: 0 5px 5px 5px;height: 28px;float: left;}
.Liber.window-app .window-content{background-image: none;overflow:hidden }
.Liber .fiche{display: block;height: 800px;width: 1200px;}
.Liber header {color: #fff;}
.Liber .col2{display: block;height: 752px;float: left;width: 590px;}
.Liber{width:1196px;height: 800px;font-family: 'Roboto', sans-serif;display: block;overflow: hidden;opacity: 0.9;}
form.Liber{display: table-cell;overflow: auto;}
.Liber .fiche nav.sheet-tabs{margin:0px;border-top:none;border-bottom:none;padding:0px 0;height: 35px;}
.Liber .head input[type="text"]{background:none; border:none;}
.Liber .head,.Liber main,.Liber .autres,.Liber .autre{width: 595px;display:block;}
.Liber .autre{float: left;}
.Liber .head{height: 120px;border-radius:60px 0 0 60px;}
.Liber .head .avatar img{height: 100%;max-width: none}
.Liber .head .avatar{height: 120px; width: 120px;border-radius: 50%; display:inline-block;overflow: hidden;float: left}
.Liber option{background:none;}

/*.Liber .head span.post {height: 20px;width: 20px;display: inline-block; float: right; margin-right: 10px}*/
.Liber .head input{color:#fff}
.Liber .head input.nomperso{text-transform: uppercase;height: 20px; display: block; font-size: 1.2em;width:calc(100% - 130px);}
.Liber .headtext{ padding:5px;}
.Liber .head .rexrow{margin-top: 10px;color: #fff;height: 80px;width:590px;padding: 5px 5px 5px 130px;border-radius: 60px 0 0 60px;display: block;}
.Liber .head .rexrow input{border-bottom:solid 1px #643737;;width:108px;}
.Liber .head .rexrow input.religion {width: 59px}
.Liber .head .rexrow input.avantagerace {width: 186px}
.Liber .head .rexrow input.niveau {width: 25px}
.grid-2col,.grid-3col,.grid-9col {float:left;}
.grid-2col {width:50%;}.grid-3col {width:33.33%;}.grid-9col {width:11%;}
.Liber .sheet nav.sheet-tabs {border:none}
/*.Liber .head .separator{width:calc(100% - 10px);height: 0px; border-top: 1px solid #fff;margin:27px 5px 7px 5px;}*/
.Liber button.aucune,.Liber button.focus,.Liber button.defensif,.Liber button.offensif{width: 20px;height: 20px;display: inline-block;border: none;float:right;}
.Liber button.aucune{background:url("../assets/icon/aucune.png") ;background-size: cover;opacity: 0.5;margin-right: 10px}
.Liber button.focus{background:url("../assets/icon/focus.png");background-size: cover;opacity: 0.5;}
.Liber button.defensif{background:url("../assets/icon/defensif.png");background-size: cover;opacity: 0.5;}
.Liber button.offensif{background:url("../assets/icon/offensif.png");background-size: cover;opacity: 0.5;}
.Liber main{height: 628px; margin-top: 5px;color:#fff;}
.Liber .autres{ height: 753px; margin-left: 5px;}
.Liber h2 {width:100%;color: #fff;font-size: 1em;padding: 5px;border-bottom: 0;}
.Liber .deno{width: 206px;border-bottom: 1px solid #643737;padding: 0px;display: block;margin: 0 5px 5px 5px;height: 28px;float: left;}
.Liber .stat input,.Liber .stat2 input,.Liber .features input{margin:0;display: inline-block;float: left;height: 28px;width: 40px;color:#fff;text-align: center;}
.Liber .stat input.hp,.Liber .stat input.psy, .Liber .stat input.armureperso, .Liber .stat input.protection, .Liber .stat2 input{border: 1px solid #643737;}
.Liber .stat input.hpmax,.Liber .stat input.psymax{border-top: 1px solid #643737;border-bottom:1px solid #643737;border-right: 1px solid #643737; border-left:none}
.Liber .second{padding-top: 5px}
.Liber .stat2 input,.Liber .stat2 label{margin-left:calc(50% - 20px);margin-top: 0}
.Liber .stat2 p{text-align: center;margin-bottom: 0}
.Liber .stat2 label{width:40px;display: block;}
.Liber textarea{width: 100%;height: 177px;color:#fff;border:none;resize: none;}
.Liber input[type="button"],.Liber .stat2 label{border:none;color:#fff;padding: 5px;font-weight: bold;cursor: pointer}
.Liber .clear{clear: both}.liber .center{text-align: center;}
.Liber .malussactor,.Liber .bonusactor,.Liber .pointrestant {width:74px;border: none;background: none; font-size: 50px;height:50px;color: #fff; text-align: center;margin-left: calc(50% - 35px);}
.Liber .coutmax,.Liber .maxsort {width:100%;border: none;background: none; font-size: 50px;height:50px;color: #fff; text-align: center;}
.Liber .modif button.desequi{float: right;border: none;color: #fff;width: 50px;height: 50px;font-size: 2em;cursor: pointer}
.Liber a.item{display: inline-block;color:#a5a5a5;width:20%;padding: 9px 2px;margin: 0;text-align: center;transition: 0.5s;}
.Liber a.item span{width: 103%; height: 20px;display: block}
.Liber a.item:hover,.Liber a.active{color:#fff;}
.Liber .tab{padding: 20px 8px 0 5px;}
.Liber .features button{float: left;width: 122px;height: 28px;font-weight: normal;text-align: left;border-bottom: 1px solid #643737;border:none;border-bottom:#643737 solid 1px;color:#eeeeee;background: none;margin-right: 5px;}
.Liber .features button:hover{color:#fff}
.Liber .features input{border: 1px solid #643737;}
.Liber .features .compt{width: 182px; float: left; margin: 2px}
.Liber .features .compt p{color:#eeeeee;font-size: 0.8em}
.Liber .features input.restant{border:none;background: none;text-align: center;font-size: 1.4em;}
.Liber .carac .compt{width: 100%;display: block}
.Liber .carac span{width:calc(30% - 5px);display: inline-block;margin-right: 5px;color:#eeeeee;font-size: 0.8em;text-align: right;}
.Liber .carac input[type="text"]{width: 70%;display: inline-block;border:none;border-bottom: 1px solid #643737;color:#fff;background: none}
.Liber .carac input[type="button"]{float: right;border: none;color: #fff;width: 100px;height: 30px;font-size: 1em;cursor: pointer; margin:3px;}
.Liber .carac input[type="text"].talent,.Liber .carac input[type="text"].faiblesse{border:1px solid #643737;width:64%;height: 30px;}
.Liber .talentliste,.Liber .faiblesseliste{width: 56%;display: inline-block;height: 30px;margin-top: 3px;border: none;color: #fff;}
.Liber .items .encom{width: 100%;border: 1px solid #643737; height: 28px;margin-bottom: 20px}
.Liber .items .encom p{width: 100%;margin-left: 5px;height: 28px;font-size: 0.8em;color: #fff;margin-top: -26px;}
.Liber .items .barenc{width: 100%;background: #0080c0;height: 26px;display: block;}
.Liber .items .encom input {border: none;background: none;color: #fff}
.Liber .items input.maingaucequi,.Liber .items input.maindroiequi,.Liber .items input.armurequi{border:1px solid #643737;width:90%;height: 30px;color: #fff;margin-bottom: 5px;}
.Liber .items .desequi{float: right;border: none;color: #fff;width: 30px;height: 30px;font-size: 1em;cursor: pointer;margin-right: 10px;}
.Liber .items .jetdedegat{float: right;border: none;color: #fff;width: 105px;height: 25px;font-size: 0.8em;cursor: pointer;margin: 3px;text-align: center;}
.Liber .items-list {list-style: none;margin: 7px 0;padding: 0;overflow-y: auto;}
.Liber .items-list .item-header {font-weight: bold;text-align: left;padding-left: 0;margin-left: 0;}
.Liber .items-list .item {height: 30px;line-height: 24px;padding: 3px 0;border-bottom: 1px solid #BBB;overflow: hidden;color:#fff;font-weight: normal;opacity: 0.6}
.Liber .items-list .item:hover {opacity:1}
.Liber .items-list .item-image {-webkit-box-flex: 0;-ms-flex: 0 0 24px;flex: 0 0 24px;margin-right: 5px;width: 25px}
.Liber .items-list .item img {display: block;}
.Liber .items-list .item-description2,.Liber .items-list .item-cible,.Liber .items-list .item-cout,.Liber .items-list .item-duree,.Liber .items-list .item-classe,.Liber .items-list .item-controls,.Liber .items-list .item-image,.Liber .items-list .item-name,.Liber .items-list .item-description,.Liber .items-list .item-portee,.Liber .items-list .item-dommage,.Liber .items-list .item-poids,.Liber .items-list .item-valeur,.Liber .items-list .item-qty,.Liber .items-list .item-hand{display:block;height:25px;float: left;overflow: hidden;}
.Liber .items-list .item-name {margin: 0;width: 180px;float: left;color:#eeeeee;}
.Liber .items-list .item-name2 {margin: 0;width: 244px;;float: left;color:#eeeeee;}
.Liber .items-list .item-description,.Liber .items-list .item-description2{    width: calc(100% - 20px);height: auto;margin: 10px;padding: 5px;display: block;}
.Liber .items-list .item-cible{width: 56px;float: left}
.Liber .items-list .item-classe{width: 120px;float: left}
.Liber .items-list .item-type{width: 50px;float: left}
.Liber .items-list .item-duree{width:82px;float: left}
.Liber .items-list .item-cout{width: 28px;float: left;text-align: center;}
.Liber .items-list .item-portee,.Liber .items-list .item-dommage,.Liber .items-list .item-poids,.Liber .items-list .item-valeur,.Liber .items-list .item-qty{width: 39px;float: left;text-align: center}
.Liber .items-list .item-hand{width: 62px;float: left;filter: invert(1);}
.Liber .items-list .item-controls{-webkit-box-flex: 0;-ms-flex: 0 0 86px;flex: 0 0 86px;text-align: right;}
.Liber .items .items-list .item-controls{width: 55px;}
.Liber .spells .items-list .item-controls{width: 75px;}
.Liber .stats select{border: none;height: 30px;width: 50%; margin: 3px;color: #fff;}

.Liber .stats input,.Liber .reposer{border: none;height: 30px;width: 40%;padding:5px;float: right;margin: 4px;border:none;color:#fff;padding: 5px;font-weight: bold;cursor: pointer}
.Liber .stat input.insoin,.Liber .stat input.avant,.Liber .stat input.desan{border:none;color: #fff;text-align: right;opacity: 0.5}
.Liber input.insoin{background:url("../assets/icon/pvi.png")left center no-repeat;background-size: contain;}
.Liber input.avant{background:url("../assets/icon/avantage.png")left center no-repeat;background-size: contain;}
.Liber input.desan{background:url("../assets/icon/avantage-2.png")left center no-repeat;background-size: contain;}
.Liber .etat button{width: 28px;height: 28px;border:none;opacity: 0.5;}
.Liber .etat0 {background: url(" ../assets/icon/etat-0.png");background-size: cover;margin-left: 20px;}
.Liber .etat1 {background: url(" ../assets/icon/etat-1.png");background-size: cover;}
.Liber .etat2 {background: url(" ../assets/icon/etat-2.png");background-size: cover;}
.Liber .etat3 {background: url(" ../assets/icon/etat-3.png");background-size: cover;}
.Liber .etat4 {background: url(" ../assets/icon/etat-4.png");background-size: cover;}
.Liber .etat5 {background: url(" ../assets/icon/etat-5.png");background-size: cover;}
.Liber .etat6 {background: url(" ../assets/icon/etat-6.png");background-size: cover;}
.Liber .etat7 {background: url(" ../assets/icon/etat-7.png");background-size: cover;}
.Liber .etat8 {background: url(" ../assets/icon/etat-8.png");background-size: cover;}
.Liber .etat9 {background: url(" ../assets/icon/etat-9.png");background-size: cover;}
.Liber .etat10 {background: url(" ../assets/icon/etat-10.png");background-size: cover;}
.Liber .etat11 {background: url(" ../assets/icon/etat-11.png");background-size: cover;}
.Liber .etat12 {background: url(" ../assets/icon/aucune.png");background-size: cover;}
.Liber .maindroite,.Liber .maingauche,.Liber .armor{width: 20px; height: 20px; display: inline-block;cursor: pointer;}
.Liber .maindroite {background: url(" ../assets/icon/hand.png");background-size: cover;}
.Liber .maingauche {background: url(" ../assets/icon/hand2.png");background-size: cover;}
.Liber .armor {background: url(" ../assets/icon/armor.png");background-size: cover;}
.Liber .typerepos ,.Liber .jourliste,.Liber .heure{border:  solid #643737 1px; color: white}
.Liber .geo{width:200px;width: 195px;height: 275px;display: inline-block;background:url(systems/liber/assets/monstre/map0.png);background-size: contain;}
.Liber .his{width: calc(100% - 200px);display: inline-block;float: right;}

.Liber .carac,.Liber .items,.Liber .spells,.Liber .stats {display: none; overflow: auto;}
.resultatp{text-align: center;font-size: medium;background: #6a7885;padding: 5px;color: white;display: flex;}
.desctchat{padding: 5px;background: #bcc2c7;color: #464646;display:none}
.infosort:active .desctchat{display: flex;}
.Liber .addsort{width: 100%;border: none;color: #fff;font-size: 1.5em;height: 40px;margin: 0;line-height: 0;}