@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@font-face {font-family: "dova";src: url('Dovahkiin.otf'); }
body{background:url(fond.jpg) no-repeat top center; }

.dova { font-family: 'dova';}
form.Liber { 
    width: calc(100% - 20px);
    height: calc(100% - 50px);
    position: absolute;}
.Liber .overflow{    overflow: hidden;
    width: 1204px;
    height: 759px;
    display: block;
    position: absolute;}

.Liber .col3{display: inline-block;width: 400px; float: left; }
.Liber .inter{background:url(parchemin.jpg);/*background: linear-gradient(0deg, rgba(51,52,44,1) 0%, rgba(60,62,49,1) 100%);*/ border:thick double #12130f;margin-bottom: 5px}
.Liber .avatar{height: 80px;width: 80px;display: inline-block; margin: 10px;overflow: hidden;}
.Liber .head{display: inline-block;width: 280px;vertical-align: top;padding-top: 10px}
.Liber .head input{width: 135px;}
.Liber .head input.nomperso{text-transform: uppercase;height: 20px; font-size: 1.2em;width: 280px;}
.Liber .head input[type="text"]{background:none; border:none;}

.Liber .reposer{border: none;height: 30px;width: 120px;padding:5px;float: right;margin: 4px;border:none;color:#fff;padding: 5px;font-weight: bold;cursor: pointer;font-family: 'MedievalSharp', cursive;}
.Liber input.insoin,.Liber input.avant,.Liber input.desan,.Liber input.fatig{border:none;color: #fff;text-align: right;opacity: 0.5;width: 55px;border:none;}
.Liber input.insoin{background:url("../assets/icon/pvi.png") 5px center no-repeat;background-size: contain;}
.Liber input.avant{background:url("../assets/icon/avantage.png") 5px center no-repeat;background-size: contain;border-left: solid 1px #c2b69e;border-radius: 0;}
.Liber input.desan{background:url("../assets/icon/avantage-2.png") 5px center no-repeat;background-size: contain;border-left: solid 1px #c2b69e;border-radius: 0;}
.Liber input.fatig{background:url("../assets/icon/fatigue.png") 5px center no-repeat;background-size: contain;border-left: solid 1px #c2b69e;border-radius: 0;}
.Liber .ligne{width: 100%; margin-bottom: 5px}
.Liber .ligne a{width: 23px;height: 23px;border:none;opacity: 0.5;display: inline-block;}
.Liber .etat0 {background: url(" ../assets/icon/sleep.png");background-size: cover;;}
.Liber .etat1 {background: url(" ../assets/icon/daze.png");background-size: cover;}
.Liber .etat2 {background: url(" ../assets/icon/blind.png");background-size: cover;}
.Liber .etat3 {background: url(" ../assets/icon/deaf.png");background-size: cover;}
.Liber .etat4 {background: url(" ../assets/icon/silenced.png");background-size: cover;}
.Liber .etat5 {background: url(" ../assets/icon/terror.png");background-size: cover;}
.Liber .etat6 {background: url(" ../assets/icon/fire.png");background-size: cover;}
.Liber .etat7 {background: url(" ../assets/icon/frozen.png");background-size: cover;}
.Liber .etat8 {background: url(" ../assets/icon/invisible.png");background-size: cover;}
.Liber .etat9 {background: url(" ../assets/icon/angel.png");background-size: cover;}
.Liber .etat10 {background: url(" ../assets/icon/poison.png");background-size: cover;}
.Liber .etat11 {background: url(" ../assets/icon/blood.png");background-size: cover;}
.Liber .etat12 {background: url(" ../assets/icon/unconscious.png");background-size: cover;}
.Liber .etat13 {background: url(" ../assets/icon/skull.png");background-size: cover;}
.Liber .separator{border-top: 1px solid #12130f;width: 260px;margin: 10px 60px;}
.Liber input {border: none}
.Liber input.hp,.Liber input.psy,.Liber input.hpmax,.Liber input.psymax, .Liber input.armureperso, .Liber input.protection{text-align: center;margin-left: 5px;border: none;width: 40px;display:inline-block;}
.Liber .deno{width: 100%;border-bottom: 1px solid #20180d;padding: 0px;display: block;margin: 0 5px 5px 5px;height: 28px;}
.Liber .modif{margin-top: 5px}
.Liber .vue{background: url()}
.Liber .action{height: 20px;display: inline-block;}
.Liber .items .items-list li,.Liber .spells .items-list li {margin: 0;width:82px;display: none;float:left;margin:0 5px 0px 0}
.Liber .spells .items-list li {display: inline-block;}
.Liber .items-list .item-name,.Liber .items-list .item-controls {margin: 0;width: 82px;background: #221808;padding: 3px;text-align: center;font-size: 0.8em;overflow: hidden;}
.Liber .items-list .item-name{height: 30px;}
.Liber .items-list .item-controls {height: 20px;}
.Liber .items-list .item-image img{height: 82px;width: 82px;display: block;}
.Liber .items-list .item-description{opacity:0;width: 82px;height: 82px;padding: 5px;display: block;position: relative;margin-top: -82px;z-index: 80;font-family: 'Signika';font-size: 0.8em;overflow: hidden;}
.Liber .items-list .item-description:hover,.Liber .items-list li:hover .item-controls{opacity:0.95;transition: 0.5s}
.Liber .items-list .item-description span{pointer-events: none;}
.Liber .items-list .item-hand{width: 62px;float: left;filter: invert(1);}
.Liber .maindroite,.Liber .maingauche,.Liber .armor{width: 12px; height: 12px; display: inline-block;cursor: pointer;filter: invert(100%);}
.Liber .maindroite {background: url(" ../assets/icon/hand.png");background-size: cover;}
.Liber .maingauche {background: url(" ../assets/icon/hand2.png");background-size: cover;}
.Liber .armor {background: url(" ../assets/icon/armor.png");background-size: cover;}
.Liber .items-list .item-qty,.Liber .items-list .item-cout{margin-bottom: -27px;padding: 5px;background: #221808;opacity: 0.8;text-align: center;}
.Liber .items-list .item-controls{opacity: 0}
.Liber .tab2{display: none;}
.Liber .items-list li.active{display: inline-block;}
.Liber .items a.item-random{padding: 5px;text-align: center;width: 130px;display: inline-block;background: #181003;margin-top: -5px;margin-bottom: 10px;}

#pause img.fa-spin{content: url(logo.png)}

.Liber .talentliste,.Liber .faiblesseliste,.Liber .typerepos ,.Liber .jourliste,.Liber .heure,.Liber .items input.maingaucequi,.Liber .items input.maindroiequi,.Liber .items input.armurequi,.Liber .stat input,.Liber .stat2 input,.Liber .features input,.Liber .stats select{background:#181003; }
.Liber .autres,#sidebar,.window-app .window-content,.sheet.journal-entry .journal-entry-content,.Liber .colonne{background: #4f3c1c url(parchemin.jpg);background-size: cover; }
.window-app .window-content{color:#fff}
.compendium-sidebar li.compendium-pack .compendium-footer{color:#20180d}
.compendium-sidebar h3 {border: none;background: #20180d;}
.compendium-sidebar li.compendium-pack .status-icons {color: #20180d;}

.filepicker .current-dir input[name="target"],.filepicker .filter-dir input,input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"]  {color: #fff;background: #20180d;}
.filepicker .display-modes a.active {background: #a10001;}
.filepicker .display-modes,.chat-message {background: #20180d;}
option, optgroup,#chat-controls .roll-type-select{background: #20180d;}
.chat-message{color: #fff;border: none;margin-bottom: 15px;}
.chat-message .message-header{color: #fff}
.chat-message.whisper,.chat-message.blind {background: #967b43;border:none;}
.Liber .window-header {flex: 100%;text-align: right;height: 30px}
.Liber .window-header h4 {float: left;}
.sheet nav.sheet-tabs{border: none;margin: 0px}
.Liber a,.dialog .dialog-as a.default,form a,form button,.Liber button,.dialog .dialog-buttons button.default,.dialog .dialog-buttons button{background: rgb(143 26 40);border: none;color: #fff;}
.directory .directory-header .header-search input ,.dialog-content input,select{background: #30220c;border: none;color: #fff;}
#sidebar-tabs {color: #20180d;}

button {color:#fff;border:none}
button,.Liber .reposer,.Liber input[type="a"],.Liber .stat2 label,.Liber .modif a.desequi,.Liber .carac input[type="a"],.Liber .items .desequi,.Liber .items .jetdedegat,.Liber .addsort{background:#33250e;}/*e13b23*/
button:hover,.Liber .stat2 label:hover,.Liber .reposer:hover,.Liber input[type="a"]:hover,.Liber .modif a.desequi:hover,.Liber .carac input[type="a"]:hover,.Liber .items .desequi:hover,.Liber .items .jetdedegat:hover,.Liber .addsort:hover{background:#e13b23;}/*e13b23*/
.Liber label.force,.Liber label.agilite,.Liber label.charisme,.Liber label.sagacite,.Liber label.ast,.Liber label.memoire{background: #6a4f22;}
.Liber a.item,.Liber h2 ,.Liber header,.Liber .tabs,.Liber .items-list .item-description,.Liber .items-list .item-description2{background: #181003;}
.Liber.window-app .window-content{background: none;height: 773px;}
.Liber .fiche{display: flex;flex-direction: row;height: 800px;width: 1200px;}
.Liber header {color: #fff;}
.Liber .col2{display: block;height: 752px;float: left;width: 590px;}
.Liber .colonne{width:600px;float: left;display:flex;flex-direction: column;flex:1;flex-grow: initial;padding-right: 5px;}
.Liber{display: flex;flex-direction: row;flex-flow: row wrap;font-family: 'MedievalSharp', cursive;}
/*form.Liber{display: table-cell;}*/
.Liber .fiche nav.sheet-tabs{margin:0px;border-top:none;border-bottom:none;padding:0px 0;height: 35px;}
.Liber .list{width: 80px;height: 80px;display: inline-block;}
.Liber .invten{width: 368px;height: 629px;overflow: auto;margin: 20px 0 0 20px;}
.Liber .items ul,.Liber .spells ul {list-style: none;display: block;margin-top: 10px;}

.Liber a.invent,.Liber a.tous{background: url(swap-bag.png) no-repeat center center;background-size: 30%;opacity: 0.5;transition: 0.5s}
.Liber a.magi{background: url(magic-swirl.png) no-repeat center center;background-size: 30%;opacity: 0.5;transition: 0.5s}
.Liber a.compe{background: url(battle-gear.png) no-repeat center center;background-size: 30%;opacity: 0.5;transition: 0.5s}
.Liber a.carac{background: url(bookshelf.png) no-repeat center center;background-size: 30%;opacity: 0.5;transition: 0.5s}
.Liber a.confi{background: url(gears.png) no-repeat center center;background-size: 30%;opacity: 0.5;transition: 0.5s}
.Liber a.armes{background: url(sword-wound.png) no-repeat center center;background-size: 30%;opacity: 0.5;transition: 0.5s}
.Liber a.armures{background: url(chest-armor2.png) no-repeat center center;background-size: 30%;opacity: 0.5;transition: 0.5s}
.Liber a.objets{background: url(chicken-oven.png) no-repeat center center;background-size: 30%;opacity: 0.5;transition: 0.5s}
.Liber a.item:hover,.Liber a.item.active,.Liber a.item-filter:hover,.Liber a.item-filter.acti{opacity: 1}
.Liber a.item,.Liber .items a{height: 30px;width:70px;}

.Liber option{background:none;}
.Liber .overflow{height: 755px;overflow: hidden;}
/*.Liber .head span.post {height: 20px;width: 20px;display: inline-block; float: right; margin-right: 10px}*/

.grid-2col,.grid-3col,.grid-9col {float:left;}
.grid-2col {width:50%;}.grid-3col {width:33.33%;}.grid-9col {width:11%;}
.Liber .spells .grid-2col {width:49%;}
.Liber .sheet nav.sheet-tabs {border:none}
/*.Liber .head .separator{width:calc(100% - 10px);height: 0px; border-top: 1px solid #fff;margin:27px 5px 7px 5px;}*/
.Liber a.aucune,.Liber a.focus,.Liber a.defensif,.Liber a.offensif,.Liber a.presage{width: 25px;height: 25px;display: inline-block;border: none;float:right;}
.Liber a.aucune{background:url("../assets/icon/aucune.png") ;background-size: cover;opacity: 0.5;margin-right: 10px}
.Liber a.focus{background:url("../assets/icon/focus.png");background-size: cover;opacity: 0.5;}
.Liber a.defensif{background:url("../assets/icon/defensif.png");background-size: cover;opacity: 0.5;}
.Liber a.offensif{background:url("../assets/icon/offensif.png");background-size: cover;opacity: 0.5;}
.Liber a.presage{background:url("../assets/icon/feather.png");background-size: cover;opacity: 0.5;}
.Liber .autres{ height: 712px;}
.Liber h2 {width:100%;color: #ffd725;font-size: 1em;padding: 5px;border-bottom: 0; text-align: center;text-transform: uppercase;}
.Liber .deno{width: 206px;border-bottom: 1px solid #20180d;padding: 0px;display: block;margin: 0 5px 5px 5px;height: 28px;float: left;}
.Liber .stat input,.Liber .stat2 input{margin:0;display: inline-block;float: left;height: 28px;width: 40px;color:#fff;text-align: center;}
.Liber .second{padding-top: 5px}
.Liber .stat2 input,.Liber .stat2 label{margin-left:calc(50% - 20px);margin-top: 0}
.Liber .stat2 p{text-align: center;margin-bottom: 0}
.Liber .stat2 label{width:40px;display: block;}
.Liber textarea{width: 100%;height:176px;color:#20180d;border:none;resize: none;font-family: 'MedievalSharp', cursive;font-size: 0.9em}
.Liber textarea{color:#fff;}
.Liber input[type="a"],.Liber .stat2 label{border: none;color: #fff;padding: 10px 5px;font-weight: bold;cursor: pointer;text-align: center;}
.Liber .clear{clear: both}.liber .center{text-align: center;}
.Liber .malussactor,.Liber .bonusactor,.Liber .pointrestant {width:104px;border: none;background: none; font-size: 50px;height:50px;color: #fff; text-align: center;}
.Liber .coutmax,.Liber .maxsort {width:100%;border: none;background: none; font-size: 50px;height:50px;color: #fff; text-align: center;}
.Liber .modif a.desequi{float: right;border: none;color: #fff;width: 50px;height: 50px;font-size: 2em;cursor: pointer}
.Liber a.item,.Liber a.item2{display: inline-block;color:#a5a5a5;width:20%;padding: 9px 2px;margin: 0;text-align: center;transition: 0.5s;}
.Liber a.item span{width: 103%; height: 20px;display: block}
.Liber .stats select{width: 100%;height: 35px}
.Liber .attaque,.Liber .desequi{font-size: 1.2em;display: block;height: 24px; text-align: center;}
.Liber .ecu li{list-style: none;margin: -20px -22px;;padding: 0;display: block;}
.Liber .ecu{width: 80px; height: 80px; display: block;margin-top: 20px; float: right;background: url(ecu.png);background-size: contain;margin-right: 20px}
.Liber .ecu .item-controls{background: rgb(143 26 40);width:80px;border: none;height: 20px;color: #fff;}
.Liber .unemain,.Liber .deuxmains,.Liber .arm{width: 80px; display: inline-block;margin-top: 150px;margin-left: 35px;}
.Liber .unemain{background: url(hand2.png) no-repeat center center;background-size: contain;}
.Liber .deuxmains{background: url(hand.png) no-repeat center center;background-size: contain;}
.Liber .arm{background: url(chest-armor.png) no-repeat top center;background-size: contain;}
.Liber .unemain div,.Liber .deuxmains div,.Liber .arm div,.Liber .ecu{border:1px solid #2d1e0a}
.Liber .unemain span ,.Liber .deuxmains span ,.Liber .arm span {opacity:0;pointer-events:none ;background: #181003a1;color: #fff;text-align: center;width: 80px;height: 80px;display: block;padding-top: 20px;}
.Liber .unemain:hover span ,.Liber .deuxmains:hover span ,.Liber .arm:hover span,.Liber .unemain:hover a ,.Liber .deuxmains:hover a ,.Liber .arm:hover a{transition:0.5s;opacity: 1}
.Liber .unemain a ,.Liber .deuxmains a ,.Liber .arm a{opacity: 0}
.Liber .features input{margin: 0;display: inline-block;float: left;height: 20px;width: 30px;color: #fff;text-align: center;font-size: 0.9em;}
.Liber .features a{float: left;width: 80px;height: 25px;font-weight: normal;text-align: left;border: none;border-bottom: #20180d solid 1px;color: #181003;background: none;margin-right: 5px;font-family: 'Signika';}
.Liber .features a:hover{color:#fff}
.Liber .features input{border: 1px solid #20180d;}
.Liber .features .compt{width: 120px; float: left; margin: 2px;height: 26px}
.Liber .features .compt p{color:##20180d;font-size: 0.8em}
.Liber .features input.restant{border:none;background: none;text-align: center;font-size: 1.4em;}
.Liber .carac .compt{width: 100%;display: block}
.Liber .carac span{width:calc(30% - 5px);display: inline-block;margin-right: 5px;color:#20180d;font-size: 0.8em;text-align: right;}
.Liber .carac input[type="text"]{width: 68%;display: inline-block;border:none;border-bottom: 1px solid #20180d;color: #20180d;background: none;font-weight: bold;}
.Liber .carac input[type="text"]:hover{color: #fff;}
.Liber .carac input[type="a"]{float: right;border: none;color: #20180d;width: 100px;height: 30px;font-size: 1em;cursor: pointer; margin:3px;}
.Liber .carac input[type="text"].talent,.Liber .carac input[type="text"].faiblesse{border:1px solid #20180d;width:64%;height: 30px;}
.Liber .talentliste,.Liber .faiblesseliste{width: 56%;display: inline-block;height: 30px;margin-top: 3px;border: none;color: #fff;}
.Liber .items .encom{width: 100%;border: 1px solid #20180d; height: 28px;margin-bottom: 20px}
.Liber .items .encom p{width: 100%;margin-left: 5px;height: 28px;font-size: 0.8em;color: #fff;margin-top: -26px;}
.Liber .items .barenc{width: 100%;background: #0080c0;height: 26px;display: block;}
.Liber .items .encom input {border: none;background: none;color: #fff}
.Liber .items input.maingaucequi,.Liber .items input.maindroiequi,.Liber .items input.armurequi{border:1px solid #20180d;width:90%;height: 30px;color: #fff;margin-bottom: 5px;}
.Liber .items .desequi{float: right;border: none;color: #fff;width: 30px;height: 30px;font-size: 1em;cursor: pointer;margin-right: 10px;}
.Liber .items .jetdedegat{float: right;border: none;color: #fff;width: 105px;height: 25px;font-size: 0.8em;cursor: pointer;margin: 3px;text-align: center;}

.Liber .guerrier,.Liber .croiser,.Liber .classique{display: none}

.Liber .typerepos ,.Liber .jourliste,.Liber .heure{border:  solid #20180d 1px; color: white}
.Liber .geo{width:200px;width: 195px;height: 275px;display: inline-block;background:url(systems/liber/assets/monstre/map0.png);background-size: contain;}
.Liber .his{width: calc(100% - 200px);display: inline-block;float: right;}

.Liber .carac,.Liber .items,.Liber .spells,.Liber .stats {display: none; overflow-y: auto;overflow-x: hidden;}
.Liber .items.active {display: block;}
.resultatp{text-align: center;font-size: medium;background: #4b3f25;padding: 5px;color: white;display: flex;}
.desctchat{padding: 5px;background: #967b43;color: #fff;display:none}
.infosort:active .desctchat{display: flex;}
.Liber .addsort{padding: 8px;border: none;color: #fff;width: 100%;font-size: 1.2em;display: block;margin: 3px 3px 3px 8px;text-align: center;margin-left: 8px;}
.Liber .resetmalus,.Liber .resetbonus{width: 20px;height: 20px;float: right;font-size: 1em;text-align: center;border-radius: 50%;margin-right: 5px;}
.Liber .item-controls a,.Liber a.item-control , .Liber .window-header a{background: none}
.generer2{padding: 10px;margin-top: 10px;display: block;}

/*outil*/
ul.m_list {list-style: none;}
.m_nb, .m_name, .m_lvl,.m_degat,.m_pv,.m_ar{display: inline-block;}
.m_nb, .m_lvl,.m_degat,.m_pv,.m_ar{width:40px}
input.m_degat,input.m_pv,input.m_ar{color:grey}
.m_name{width:200px}

#sidebar a.item{filter: invert(60%);}
#sidebar a.item i{display: none}
#sidebar a.item[data-tab="chat"]{background:url(" ../assets/icon/roi.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="combat"]{background:url(" ../assets/icon/bouclier.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="scenes"]{background:url(" ../assets/icon/plans.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="actors"]{background:url(" ../assets/icon/chevaliers.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="items"]{background:url(" ../assets/icon/potion.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="journal"]{background:url(" ../assets/icon/faire-defiler.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="tables"]{background:url(" ../assets/icon/hache.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="cards"]{background:url(" ../assets/icon/coin.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="playlists"]{background:url(" ../assets/icon/fou-du-roi.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="compendium"]{background:url(" ../assets/icon/epee.png") no-repeat center center;background-size: 80%;}
#sidebar a.item[data-tab="settings"]{background:url(" ../assets/icon/forgeron.png") no-repeat center center;background-size: 80%;}
#sidebar a.item.active,#sidebar a.item.active:hover{border: 1px solid #0ff;border-bottom: none;box-shadow: 0 0 10px #0178a2;filter:invert(100%);}
#sidebar a.item:hover{border: 1px solid #0ff;border-bottom: none;box-shadow: 0 0 10px #0178a2;filter:invert(80%); transition:0.5s}

footer.nue {color: #c9c7b8;}

.Liber .item-cout,.Liber .item-qty{z-index: 2;position: relative;}

.item-piles-even-color:nth-child(even){background: rgb(32 24 13}
::-webkit-scrollbar {
	width: 0px !important;
	height: 0px;
}

a.content-link, a.inline-roll {background: none}
.prosemirror menu .pm-dropdown{background: #20180d; }


