<div class="zonearmure">
	<div class="col-arm">
		<span class="deno" title="{{localize 'liber.armor'}}"></span><input class="armureperso" name="system.protection" type="text" value="{{actor.system.protection}}" placeholder="0"/>
	</div>
	
	<div class="col-protection">
		<span class="deno" title="{{localize 'liber.protection'}}"></span><input class="protection" name="system.protectionmagique" type="text" value="{{actor.system.protectionmagique}}" placeholder="0"/>
	</div>
</div>