<header >
    <h1>{{formInput fields.name value=source.name rootId=partId}}</h1>
    
</header>



<form class="{{cssClass}} Liber flexcol" autocomplete="off">



	<div class="zone">

		<div class="col-droite">
			{{!-- Sheet Body --}}
			<section class="sheet-body">

				
				{{!-- Lab Tab --}}
				<div id="lab" class="tab stats" data-group="primary" data-tab="lab">
					<div class="zoneinfo">
				    	<h2>{{localize 'liber.sex'}}</h2>
						<SELECT class="sexliste" name="system.sexe">
							{{selectOptions listValues.sex selected=actor.system.sexe labelAttr="label" localize=true blank="liber.none"}}
			            </select>
				    	<h2>{{localize 'liber.race'}}</h2>
						<SELECT class="raceliste" name="system.race">
							{{selectOptions listValues.race selected=actor.system.race labelAttr="label" localize=true blank="liber.none"}}
		                </select>

						<h2>{{localize 'liber.talent'}}</h2>
						<SELECT class="talentliste"  name="system.talent">
							{{selectOptions listValues.talent selected=actor.system.talent labelAttr="label" localize=true blank="liber.none"}}
                        </select>   
                        <h2>{{localize 'liber.faiblesse'}}</h2>
                        <SELECT class="faiblesseliste"  name="system.faiblesse">
							{{selectOptions listValues.faiblesse selected=actor.system.faiblesse labelAttr="label" localize=true blank="liber.none"}}
	                    </select>
			    		<h2 class="clanh2">{{localize 'liber.clan'}}</h2>
						<SELECT class="clanliste"  name="system.clan">
							{{selectOptions listValues.clan selected=actor.system.clan labelAttr="label" localize=true blank="liber.none"}}
		                </select>
						<h2 class="religionh2">Religion</h2>
							<SELECT class="religionliste" name="system.religion">
							{{selectOptions listValues.religion selected=actor.system.religion labelAttr="label" class="class" localize=true blank="liber.none"}}
		                </select>
						<h2>{{localize 'liber.metier'}}</h2>
						<SELECT name="system.metier" class="metier">
							{{selectOptions listValues.metier selected=actor.system.metier labelAttr="label" localize=true blank="liber.none"}}
		                </select>
		                <input type="button" value="{{localize 'liber.generer'}}" class="bouton ficheperso">		            
					</div>
					<div class="zonepoint">
						{{localize 'liber.restant'}}
						<input class="pointrestant" type="text" value="{{actor.system.reste}}" readonly/>
					</div>
				</div>



			</section>
			<div class="grid-2col" style="text-align: center;color:#fff">
				<h2>Action</h2>
				<img src="systems/liber/assets/icon/arme_a_deux_mains.jpg" title="Utiliser une armes à deux mains" class="action"/>
				<img src="systems/liber/assets/icon/discours.jpg" title="Faire un discours" class="action"/>
				<img src="systems/liber/assets/icon/sort.jpg" title="Lancer un sort" class="action"/>
				<img src="systems/liber/assets/icon/tir.jpg" title="Tirer à l'arc ou l'arbalète" class="action"/>
				<img src="systems/liber/assets/icon/courrir.jpg" title="Courrir" class="action"/>
			</div>
			<div class="grid-2col der" style="text-align: center;color:#fff">
				<h2>Demi-Action</h2>
				<img src="systems/liber/assets/icon/aide.jpg" title="aider quelqu'un à se lever" class="action"/>
				<img src="systems/liber/assets/icon/arme_une_main.jpg" title="utiliser une arme à une main" class="action"/>
				<img src="systems/liber/assets/icon/boire_une_potion.jpg" title="boire une potion" class="action"/>
				<img src="systems/liber/assets/icon/parler.jpg" title="parler" class="action"/>
				<img src="systems/liber/assets/icon/prendre.jpg" title="Prendre une objet" class="action"/>
				<img src="systems/liber/assets/icon/se_deplacer.jpg" title="Se deplacer" class="action"/>
				<img src="systems/liber/assets/icon/se_lever.jpg"  title="Se lever" class="action"/>
			</div>
		</div>
	</div>
</form>

