<form class="{{cssClass}} liber flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header flexcol" id="pj-titre">
		<h1><input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name" style="height:50px"/></h1>
		<div class="flexrow">
			<div class="grid-3col">
				<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="display: inline-block; height: 173px; width: 264px; margin-top: 20px"/>
			</div>
			<div class="grid-3col">
				<h2>Race</h2>
				<input name="data.race" type="text" value="{{data.data.race}}" placeholder="Race"/>
				<h2>Bonus de race</h2>
				<input name="data.bonusrace" type="text" value="{{data.data.bonusrace}}" placeholder="Bonus"/>
				<h2>Posture</h2>
				<button class="aucune" title="Aucune"></button>
				<button class="focus" title="Focus"></button>
				<button class="defensif" title="Défensif"></button>
				<button class="offensif" title="Offensif"></button>				
				<input class="postures" name="data.posture" type="text" value="{{data.data.posture}}" style="display:none"/>
			</div>
			<div class="grid-3col">
				
				<h2>Clan</h2>
				<input name="data.clan" type="text" value="{{data.data.clan}}" placeholder="Clan"/>
				<h2>Religion</h2>
				<input name="data.religion" type="text" value="{{data.data.religion}}" placeholder="Religion"/>
				<h2>Level</h2>
				<input name="data.level" type="text" value="{{data.data.level}}" placeholder="1"/>
				
			</div>
		</div>

		<div class="separator"></div>
		<div class="flexrow">
			<div class="grid-5col" style="min-width: 150px;">
				PV <input class="hp" name="data.hp.value" type="text" value="{{data.data.hp.value}}" placeholder="10" style="width: 40px;"/> /
				<input class="hpmax" name="data.hp.max" type="text" value="{{data.data.hp.max}}" placeholder="10" style="width: 40px;"/>
			</div> 
			<div class="grid-5col" style="min-width: 150px;">
				PSY <input class="psy" name="data.psy.value" type="text" value="{{data.data.psy.value}}" placeholder="10" style="width: 40px;"/> /
				<input clas="psymax" name="data.psy.max" type="text" value="{{data.data.psy.max}}" placeholder="10" style="width: 40px;"/>
			</div>			
			<div class="grid-5col" style="min-width: 150px;">
				Arm <input name="data.protection" type="text" value="{{data.data.protection}}" placeholder="0" style="width: 40px;"/> 
			</div>
			<div class="grid-5col" style="min-width: 150px;">
				Pro <input name="data.protection-magique" type="text" value="{{data.data.protection-magique}}" placeholder="0" style="width: 40px;"/> 
			</div>
			<div class="grid-5col" style="min-width: 150px;">
				Enc <input class="encours" name="data.encombrement.value" type="text" value="{{data.data.encombrement.value}}" placeholder="0" style="width: 40px;" readonly=""/> / 
				<input class="enc" name="data.encombrement.max" type="text" value="{{data.data.encombrement.max}}" placeholder="0" style="width: 40px;" readonly="" /> Kg
			</div>
		</div>
		<div class="separator"></div>
		<div class="flexrow">
			<div class="etat">
				<input class="insoin" name="data.insoin" type="text" value="{{data.data.insoin}}" placeholder="0"/>
				<input class="avant" name="data.avantage" type="text" value="{{data.data.avantage}}" placeholder="0"/>
				<input class="desan" name="data.desavantage" type="text" value="{{data.data.desavantage}}" placeholder="0"/>
			</div>
			<div class="etat" style="margin-top: -10px;margin-left: -50px;">
				<button class="etat0"></button>
				<button class="etat1"></button>
				<button class="etat2"></button>
				<button class="etat3"></button>
				<button class="etat4"></button>
				<button class="etat5"></button>
				<button class="etat6"></button>
				<button class="etat7"></button>
				<button class="etat8"></button>
				<button class="etat9"></button>
				<button class="etat10"></button>
				<button class="etat11"></button>
				<button class="etat12"></button>
				<input class="etats" name="data.etat" type="text" value="{{data.data.etat}}" style="display:none"/>

			</div>				
				
		</div>
		

	</header>
	
	{{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="lab">Attributs</a>
        <a class="item" data-tab="spells">Magie</a>
        <a class="item" data-tab="items">Inventaire</a>
    </nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Biography Tab --}}
	    <div id="description" class="tab description" data-group="primary" data-tab="description">
	    	<h2>Histoire</h2>
				<textarea name="data.histoire">{{data.data.histoire}}</textarea>
			<div class="flexrow">
		    	<div class="grid-2col">
					<h2>Talent</h2>
					<input name="data.talent" type="text" value="{{data.data.talent}}" placeholder="Talent"/>
				</div>
				<div class="grid-2col">
					<h2>Faiblesse</h2>
					<input name="data.faiblesse" type="text" value="{{data.data.faiblesse}}" placeholder="Faiblesse"/>
				</div>
			</div>
		</div>

		{{!-- Lab Tab --}}
		<div id="lab" class="tab stat" data-group="primary" data-tab="lab">
			<h2>Attributs</h2>
			<div class="flexrow">
				<div class="grid-3col">
					<p style="text-align: center"><label class="jetdedes" data-name="Physique" data-dice="1d" data-posture="{{data.data.posture}}" data-actionvalue="{{data.data.bonus}}" data-malus="{{data.data.malus}}" data-attDice="{{data.data.physique}}">Physique</label></p>
					<input name="data.physique" type="text" value="{{data.data.physique}}" placeholder="{{data.data.physique}}" style="text-align: center"/>
					<div class="flexrow">
						<div class="grid-2col" style="text-align: center;min-width: 132px;">
							<p><label class="jetdedes" data-name="Force" data-dice="1d" data-posture="{{data.data.posture}}" data-actionvalue="{{data.data.bonus}}" data-malus="{{data.data.malus}}" data-attDice="{{data.data.force}}">Force</label></p>
							<input name="data.force" type="text" value="{{data.data.force}}" placeholder="5" style="width:40px" />
						</div>
						<div class="grid-2col"  style="text-align: center;min-width: 132px;">
							<p><label class="jetdedes" data-name="Agilite" data-dice="1d" data-posture="{{data.data.posture}}" data-actionvalue="{{data.data.bonus}}" data-malus="{{data.data.malus}}" data-attDice="{{data.data.agilite}}">Agilité</label></p>
							<input name="data.agilite" type="text" value="{{data.data.agilite}}" placeholder="5" style="width:40px" />
						</div>
					</div>
				</div>

				<div class="grid-3col">
					<p style="text-align: center" style="text-align: center"><label class="jetdedes" data-name="Social" data-dice="1d" data-posture="{{data.data.posture}}" data-actionvalue="{{data.data.bonus}}" data-malus="{{data.data.malus}}" data-attDice="{{data.data.social}}">Social</label></p>
					<input name="data.social" type="text" value="{{data.data.social}}" placeholder="10" style="text-align: center"/>
					<div class="flexrow">
						<div class="grid-2col" style="text-align: center;min-width: 132px;">
							<p><label class="jetdedes" data-name="Charisme" data-dice="1d" data-posture="{{data.data.posture}}" data-actionvalue="{{data.data.bonus}}" data-malus="{{data.data.malus}}" data-attDice="{{data.data.charisme}}">Charisme</label></p>
							<input name="data.charisme" type="text" value="{{data.data.charisme}}" placeholder="5" style="width:40px"/>
						</div>
						<div class="grid-2col" style="text-align: center;min-width: 132px;">
							<p><label class="jetdedes" data-name="Sagacité" data-dice="1d" data-posture="{{data.data.posture}}" data-actionvalue="{{data.data.bonus}}" data-malus="{{data.data.malus}}" data-attDice="{{data.data.sagacite}}">Sagacité</label></p>
							<input name="data.sagacite" type="text" value="{{data.data.sagacite}}" placeholder="5" style="width:40px"/>
						</div>
					</div>
				</div>
				<div class="grid-3col">
					<p style="text-align: center"><label class="jetdedes" data-name="Mental" data-dice="1d" data-posture="{{data.data.posture}}" data-actionvalue="{{data.data.bonus}}" data-malus="{{data.data.malus}}" data-attDice="{{data.data.mental}}">Mental</label></p>
					<input class="mental" name="data.mental" type="text" value="{{data.data.mental}}" placeholder="10" style="text-align: center"/>
					<div class="flexrow">
						<div class="grid-2col" style="text-align: center;min-width: 132px;">
							<p><label class="jetdedes" data-name="Astuce" data-dice="1d" data-posture="{{data.data.posture}}" data-actionvalue="{{data.data.bonus}}" data-malus="{{data.data.malus}}" data-attDice="{{data.data.astuce}}">Astuce</label></p>
							<input name="data.ast" type="text" value="{{data.data.ast}}" placeholder="5" style="width:40px"/>
						</div>
						<div class="grid-2col" style="text-align: center;min-width: 132px;">
							<p><label class="jetdedes" data-name="Mémoire" data-dice="1d" data-posture="{{data.data.posture}}" data-actionvalue="{{data.data.bonus}}" data-malus="{{data.data.malus}}" data-attDice="{{data.data.memoire}}">Mémoire</label></p>
							<input name="data.memoire" type="text" value="{{data.data.memoire}}" placeholder="5" style="width:40px"/>
						</div>
					</div>
				</div>
			</div>
			<div class="flexrow">
				<div class="grid-3col">
					<p><label class="jetdedegat" data-name="Dégât" data-dice="{{data.data.degat}}">Dégâts</label></p>
					<input  class="degatqui" name="data.degat" type="text" value="{{data.data.degat}}" placeholder="0" style="width:calc(100% - 40px)"/>
				</div>
				<div class="grid-3col">
				</div>
				<div class="grid-3col">
					<h2>Bonus MJ</h2>
					<input class="malussactor" name="data.malus" type="text" value="{{data.data.malus}}" placeholder="0" style="width:calc(100% - 40px)"/><button class="desequi resetmalus">🗑</button>
				</div>
				<!--div class="grid-3col">
					<h2>Bonus Compétence</h2>
					<input class="bonusactor" name="data.bonus" type="text" value="{{data.data.bonus}}" placeholder="0" style="width:calc(100% - 40px)"/><button class="desequi resetbonus">🗑</button>
				</div-->
			</div>
		</div>


		{{!-- Pouvoirs Tab --}}
		<div id="spells" class="tab spells" data-group="primary" data-tab="spells">
			<h2>Sort</h2>
		    <table>
		        <ol class="items-list">
	                <li class="item flexrow item-header">
	                  <div class="item-image"></div>
	                  <div class="item-name">Nom</div>
	                  <div class="item-classe">Classe</div>
	                  <div class="item-description">Description</div>               
	                  <div class="item-cible">Cible</div>
	                  <div class="item-duree">Durée</div>
	                  <div class="item-cout">Coût</div>
	                  
	                  <div class="item-controls">
	                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
	                  </div>
	                </li>
	            {{#each actor.sort as |item id|}}
	                <li class="item flexrow" data-item-id="{{item._id}}">
	                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
	                    <h4 class="item-name">{{item.name}}</h4>
	                    <div class="item-classe">{{item.data.classe}}</div>
	                    <h4 class="item-description" title="{{item.data.description}}">{{item.data.description}}</h4>
	                    <h4 class="item-cible">{{item.data.cible}}</h4>
	                    <h4 class="item-duree">{{item.data.duree}}</h4>
	                    <h4 class="item-cout">{{item.data.cout}}</h4>
	                    <div class="item-controls">
	                    	<a class="item-control item-lancer" title="Lancer Sort" data-name="{{item.name}}" data-cout="{{item.data.cout}}"><i class="fas fa-check"></i></a>
	                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
	                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
	                    </div>
	                </li>
	            {{/each}}
        		</ol>
		    </table>
		</div>

		{{!-- Items Tab --}}
		<div id="items" class="tab items" data-group="primary" data-tab="items">
			<h2>Armes équipé</h2>
			<div class="flexrow">
				<div class="col2" style="text-align: center" class="unemain">
					<h3>Main gauche</h3>
					<input class="maingaucequi" name="data.armeg" type="text" value="{{data.data.armeg}}" placeholder="Main Gauche" readonly="" /><button class="desequi maingdes">🗑</button>
					<input class="degatg jetdedegat" name="data.degatg" type="text" data-name="{{data.data.armeg}}" value="{{data.data.degatg}}" data-dice="{{data.data.degatg}}" placeholder="Dégat" readonly="" />
				</div>
				<div class="col2" style="text-align: center">
					<h3 class="deuxmains">Main droite</h3>
					<input class="maindroiequi" name="data.armed" type="text" value="{{data.data.armed}}" placeholder="Main droite" readonly="" /><button class="desequi mainddes">🗑</button>
					<input class="degatd jetdedegat" name="data.degatd" type="text" data-name="{{data.data.armed}}" value="{{data.data.degatd}}" data-dice="{{data.data.degatd}}" placeholder="Dégat" readonly="" />
				</div>
			</div>
			<h2>Armure</h2>
				<input  class="armurequi" name="data.armure" type="text" value="{{data.data.armure}}" placeholder="Armure" readonly="" /><button class="desequi armordes">🗑</button>
			<h2>Inventaire</h2>
			<table>
				<ol class="items-list">
	                <li class="item flexrow item-header">
	                  <div class="item-image"></div>
	                  <div class="item-name">Nom</div>
	                  <div class="item-description">Description</div>               
	                  <div class="item-portee">Portée</div>
	                  <div class="item-dommage">Dommage</div>
	                  <div class="item-poids">Poids</div>
	                  <div class="item-valeur">Valeur</div>
	                  <div class="item-qty">Quantite</div>
	                  <div class="item-hand">Equipé</div>
	                  <div class="item-controls">
	                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
	                  </div>
	                </li>
	            {{#each actor.inventaire as |item id|}}
	                <li class="item flexrow" data-item-id="{{item._id}}">
	                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
	                    <h4 class="item-name" title="{{item.name}}">{{item.name}}</h4>
	                    <h4 class="item-description" title="{{item.data.description}}">{{item.data.description}}</h4>
	                    <h4 class="item-portee">{{item.data.portee}}</h4>
	                    <h4 class="item-dommage">{{item.data.degats}}</h4>
	                    <h4 class="item-poids">{{item.data.poids}}</h4>
	                    <h4 class="item-valeur">{{item.data.valeur}}</h4>
	                    <h4 class="item-qty">{{item.data.quantite}}</h4>
	                    <h4 class="item-hand"><span class="maingauche" title="main gauche" name="{{item.name}}" degat="{{item.data.degats}}"></span><span class="maindroite" title="main droite" name="{{item.name}}" degat="{{item.data.degats}}"></span><span class="armor" title="Armure" name="{{item.name}}" ></span></h4>
	                    <div class="item-controls">
	                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
	                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
	                    </div>
	                </li>
	            {{/each}}
        		</ol>
		    </table>
		</div>
	</section>
</form>