<form class="{{cssClass}} Liber flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<div class="col3">
		<div class="inter">
			<h2>{{localize 'liber.person'}}</h2>
			<div class="avatar"> 
				<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
			</div>
			<div class="head">
				<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'liber.name'}}"/>
				<input class="race" type="text" title="{{actor.system.race}}" value="{{actor.system.race}}"  placeholder="{{localize 'liber.race'}}" readonly="">
				<input class="clan" type="text" title="{{actor.system.clan}}" value="{{actor.system.clan}}" placeholder="{{localize 'liber.clan'}}" readonly=""/>
				<input class="met" type="text" title="{{actor.system.metier}}" value="{{actor.system.metier}}"  placeholder="{{localize 'liber.metier'}}" readonly="">
				<input class="religion" type="text" title="{{actor.system.religion}}" value="{{actor.system.religion}}" placeholder="{{localize 'liber.religion'}} " readonly="" />
			</div>
		</div>
		<div class="inter" style="height:233px">
			<h2>{{localize 'liber.histoire'}}</h2>
			<textarea class="histoire" name="system.histoire">{{actor.system.histoire}}</textarea>
		</div>
		<div class="inter">
			<h2>{{localize 'liber.etat'}}</h2>
			<div class="ligne">
				<input class="insoin" name="system.insoin" type="text" value="{{actor.system.insoin}}" placeholder="0"/>
				<input class="avant" name="system.avantage" type="text" value="{{actor.system.avantage}}" placeholder="0"/>
				<input class="desan" name="system.desavantage" type="text" value="{{actor.system.desavantage}}" placeholder="0"/>
				<a class="posture aucune" data-posture="aucune" title="Aucune"></a>
				<a class="posture focus" data-posture="focus" title="Focus"></a>
				<a class="posture defensif" data-posture="defensif" title="Défensif"></a>
				<a class="posture offensif" data-posture="offensif" title="Offensif"></a>
				<input class="postures" name="system.posture" type="text" value="{{actor.system.posture}}" style="display:none"/></span>
			</div>			
			<div class="separator"></div>	
			<div class="ligne">
				{{#each actor.system.etat as |value etat|}}
				  <a class="etat{{@index}} chnget" data-lettre="{{@index}}" style="opacity: {{value}};"></a>
				{{/each}}
			</div>
		</div>
		<div class="inter">
			<h2>{{localize 'liber.attributs'}}</h2>
			<div class="grid-2col">
				<span class="deno">❤ {{localize 'liber.life'}}</span><input class="hp" name="system.hp.value" type="text" value="{{actor.system.hp.value}}" placeholder="10" style="{{actor.system.alert.hp}}"/><input class="hpmax" name="system.hp.max" type="text" value="{{actor.system.hp.max}}" placeholder="10" style="{{actor.system.alert.hpmax}}"/>
			</div>
			<div class="grid-2col">
				<span class="deno">⛉ {{localize 'liber.armor'}}</span><input class="armureperso" name="system.protection" type="text" value="{{actor.system.protection}}" placeholder="0"/>
			</div>
			<div class="grid-2col">
				<span class="deno">♗ {{localize 'liber.psy'}} </span><input class="psy" name="system.psy.value" type="text" value="{{actor.system.psy.value}}" placeholder="10" style="{{actor.system.alert.psy}}"/><input class="psymax" name="system.psy.max" type="text" value="{{actor.system.psy.max}}" placeholder="10" style="{{actor.system.alert.psymax}}"/>
			</div>
			<div class="grid-2col">
				<span class="deno">⛉ {{localize 'liber.protection'}}</span> <input class="protection" name="system.protectionmagique" type="text" value="{{actor.system.protectionmagique}}" placeholder="0"/>
			</div>

			<div class="rexrow stat2">
				

				{{#each actor.system.ability as |value ability|}}
				  <div class="grid-9col">
				    <p><label class="{{ability}} jetdedes" data-type="jetdedes" data-name="{{ability}}" data-dice="1d" data-attDice="{{value}}">{{localize ability}}</label></p>
				    <input class="{{ability}}Value" name="system.ability.{{ability}}" type="text" value="{{value}}" placeholder="{{value}}"/>
				  </div>
				{{/each}}
				
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="col3">
		<div class="inter" style="height:450px;">
			<h2>{{localize 'liber.encombrement'}} <input class="encours" name="system.encombrement.value" type="text" value="{{actor.system.encombrement.value}}" placeholder="0" style="width: 40px;background: none;color: #ffd725;" readonly=""/> / 
				<input class="enc" name="system.encombrement.max" type="text" value="{{actor.system.encombrement.max}}" placeholder="0" style="width: 40px;background: none;color: #ffd725;" readonly="" /> {{localize 'liber.kg'}}<div class="encom">
				
				<div class="barenc" style="height: 2px;"></div>
			</div></h2>
			
			<div class="vue" style="background:url({{actor.img}}) no-repeat center center;background-size: 80%;">
				<span style="margin-left: 5px">{{localize 'liber.level'}} : <input class="niveau" name="system.level" type="text" value="{{actor.system.level}}" placeholder="1" style="width: 40px;"/></span>
				<ul class="ecu">
				{{#each actor.argent as |item id|}}
	                <li class="item fexrow" data-item-id="{{item._id}}">
	                    <div class="item-poids" style="display:none">{{item.system.poids}}</div>
	                    <div class="item-qty item-edit" style="text-align: center;height: 80px;margin-top: 19px;padding: 30px;background: #181003a1;width: 80px;">{{item.system.quantite}}</div>
	                    <div class="item-controls" style="text-align: right;padding-right: 5px;padding-top: 2px;">
	                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
	                    </div>
	                </li>
	            
	            {{/each}}
	            </ul>
				<div class="clear"></div>
				<div class="unemain">
					<a class="attaque" data-name="attaque" data-img="{{actor.system.armeuse.imgg}}" data-desc="{{actor.system.armeuse.desg}}" data-type="auto" title="Attaquer avec {{actor.system.armeuse.armeg}}">⚔</a>
					<div class="degatg jetdedegat" name="system.armeuse.degatg" data-name="{{actor.system.armeuse.armeg}}" data-dice="{{actor.system.degatg}}" data-img="{{actor.system.imgg}}" data-desc="{{actor.system.armeuse.desg}}" data-type="jetdedegat" style="text-align: center; width:80px;height: 80px; background: url({{actor.system.armeuse.imgg}});background-size: contain;">	<span>{{actor.system.armeuse.armeg}} <br> {{actor.system.armeuse.degatg}}</span>   
					</div>	
					<a class="desequi maingdes" data-equip="dgauche">🗑</a>				                     
				</div>
				<div class="arm">
					<div class="armurequi" style="text-align: center; width:80px;height: 80px; background: url({{actor.system.armeuse.imga}});background-size: contain;">	<span>{{actor.system.armeuse.armure}}</span>   
					</div>	
					<a class="desequi armordes" data-equip="darmure">🗑</a>				                     
				</div>
				<div class="deuxmains">
					<a class="attaque" data-name="attaque" data-img="{{actor.system.armeuse.imgd}}" data-desc="{{actor.system.armeuse.desd}}" data-type="auto" title="Attaquer avec {{actor.system.armeuse.armed}}">⚔</a>
					<div class="degatd jetdedegat" name="system.armeuse.degatd"data-name="{{actor.system.armeuse.armed}}" data-dice="{{actor.system.armeuse.degatd}}" data-img="{{actor.system.armeuse.imgd}}" data-desc="{{actor.system.armeuse.desd}}" data-type="jetdedegat" style="text-align: center; width:80px;height: 80px; background: url({{actor.system.armeuse.imgd}});background-size: contain;">	<span>{{actor.system.armeuse.armed}} <br> {{actor.system.armeuse.degatd}}</span>   
					</div>	
					<a class="desequi mainddes" data-equip="ddroite">🗑</a>				                     
				</div>

			</div>
			
		</div>
		<div class="inter">
			<h2>{{localize 'liber.repos'}}</h2>
			<span style="float:left; margin-left:20px">
				<input class="heure" name="system.heure" type="text" value="{{actor.system.heure}}" placeholder="0" style="width:40px;text-align:center"/>
				<SELECT class="jourliste"  name="system.jour">
	            	{{#select actor.system.jour}}
	                    <OPTION value="{{localize 'liber.heure'}}" title="{{localize 'liber.heure'}}">{{localize 'liber.heure'}}</OPTION>
	                    <OPTION value="{{localize 'liber.jour'}}" title="{{localize 'liber.jour'}}">{{localize 'liber.jour'}}</OPTION>
	                {{/select}}
	            </SELECT>
	            <SELECT class="typerepos"  name="system.repos">
	            	{{#select actor.system.repos}}
	                    <OPTION value="{{localize 'liber.rapide'}}" title="{{localize 'liber.rapide'}}">{{localize 'liber.rapide'}}</OPTION>
	                    <OPTION value="{{localize 'liber.calme'}}" title="{{localize 'liber.calme'}}">{{localize 'liber.calme'}}</OPTION>
	                    <OPTION value="{{localize 'liber.calme2'}}" title="{{localize 'liber.calme2'}}">{{localize 'liber.calme2'}}</OPTION>
	                    <OPTION value="{{localize 'liber.intensif'}}" title="{{localize 'liber.intensif'}}">{{localize 'liber.intensif'}}</OPTION>
	                {{/select}}
	            </SELECT></span><a class="reposer" style=" margin-top: 0;height: 25px;padding: 5px;text-align: center;">{{localize 'liber.reposer'}}</a>
			<div class="clear"></div>
		</div>
		<div class="inter">
			<h2>{{localize 'liber.bonu'}}</h2>
			<input class="avantagerace" name="system.bonusrace" type="text" title="{{actor.system.bonusrace}}" value="{{actor.system.bonusrace}}" placeholder="{{localize 'liber.bonus'}}" style="margin-left: 5px;width: 374px;"/>
			<div class="rexrow" style="margin-top: 5px;">
		    	<div class="grid-2col">
					<h2>{{localize 'liber.talent'}}</h2>
					<input class="talent" type="text" value="{{actor.system.talent}}" placeholder="Talent" readonly="" style="margin-left: 5px;width: 180px;"/>
					<div class="clear"></div>                             
				</div>
				<div class="grid-2col">
					<h2>{{localize 'liber.faiblesse'}}</h2>
					<input class="faiblesse" type="text" value="{{actor.system.faiblesse}}" placeholder="Faiblesse" readonly=""  style="margin-left: 5px;width: 180px;"/>
					<div class="clear"></div>                             
				</div>
			</div>
			<div class="clear"></div>
			<div class="rexrow modif">
				<div class="grid-3col">
					<h2 class="center">{{localize 'liber.restant'}}</h2>
					<input class="pointrestant" type="text" value="{{actor.system.reste}}" readonly style="width: 100px;"/>
				</div>
				<div class="grid-3col">
					<h2 class="center">{{localize 'liber.mj'}}</h2>
					<a class="resetmalus"  data-name="malus">🗑</a><input class="malussactor" name="system.malus" type="text" value="{{actor.system.malus}}" placeholder="0"/>
				</div>
				<div class="grid-3col">
					<h2 class="center">{{localize 'liber.compt'}}</h2>
					<a class="resetbonus" data-name="bonus">🗑</a><input class="bonusactor" name="system.bonus" type="text" value="{{actor.system.bonus}}" placeholder="0" readonly="" />
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="col3">
		<div class="inter">
			{{!-- Sheet Tab Navigation --}}
		    <nav class="sheet-tabs tabs" data-group="primary">
		        <a class="item invent active" data-tab="items"></a>
		        <a class="item compe" data-tab="features"></a>
		        <a class="item carac" data-tab="carac"></a>
		        <a class="item magi" data-tab="spells"></a>
		        <a class="item confi" data-tab="lab"></a>
		    </nav>
		</div>
		<div class="inter autres">
			{{!-- Sheet Body --}}
			<section class="sheet-body" style="height: 696px;">
				{{!-- Items Tab --}}
				<div id="items" class="items" data-group="primary" data-tab="items" style="height: 696px;">
					<nav class="sheet-tabs tabs">
				        <a class="item-filter tous acti" data-tab="tous"></a>
				        <a class="item-filter armes" data-tab="armes"></a>
				        <a class="item-filter armures" data-tab="armures"></a>
				        <a class="item-filter objets" data-tab="objets"></a>
				    </nav> 
				    <input class="secondary" type="text" name="system.secondary" value="{{actor.system.secondary}}" style="display: none;">
				    
				    	<ul class="items-list">
				    	{{#each actor.arme as |item id|}}		    		
					    		<li class="item fexrow armes active" data-item-id="{{item._id}}">
					    			<div class="item-name" title="{{item.name}}">{{item.name}}</div>
				                    <div class="item-image"><div class="item-qty">{{item.system.quantite}}</div><img src="{{item.img}}" title="{{item.system.description}}"/></div>
				                    <div class="item-description item-info" data-item-id="{{item._id}}" data-name="{{item.name}}" data-desc="{{item.system.description}}" data-cout="{{item.system.valeur}}" data-type="{{item.type}}" data-img="{{item.img}}"><span title="{{item.system.description}}">{{item.system.description}}</span></div>
				                    <div class="item-controls">
				                    	<span class="maingauche" title="main gauche" data-equip="gauche" data-name="{{item.name}}" data-degat="{{item.system.degats}}" data-img="{{item.img}}" data-des="{{item.system.description}}" data-type="{{item.type}}" name="{{item.name}}" ></span><span class="maindroite" title="main droite" data-equip="droite" data-name="{{item.name}}" data-degat="{{item.system.degats}}" data-img="{{item.img}}" data-des="{{item.system.description}}" data-type="{{item.type}}"  name="{{item.name}}" ></span>	
				                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				                    </div>

				                    <div class="item-type" title="{{item.type}}" style="display: none;">{{item.type}}</div>
				                    <div class="item-portee" style="display: none;"></div>
				                    <div class="item-dommage" style="display: none;"></div>
				                    <div class="item-poids"  style="display: none;">{{item.system.poids}}</div>
				                    <div class="item-valeur"  style="display: none;">{{item.system.valeur}}</div>				                     
				                </li>
			            {{/each}}
			            {{#each actor.armure as |item id|}}
			            		<li class="item fexrow armures active" data-item-id="{{item._id}}">
					    			<div class="item-name" title="{{item.name}}">{{item.name}}</div>
				                    <div class="item-image"><div class="item-qty">{{item.system.quantite}}</div><img src="{{item.img}}" title="{{item.system.description}}"/></div>
				                    <div class="item-description item-info" data-item-id="{{item._id}}" data-name="{{item.name}}" data-desc="{{item.system.description}}" data-cout="{{item.system.valeur}}" data-type="{{item.type}}" data-img="{{item.img}}"><span title="{{item.system.description}}">{{item.system.description}}</span></div>
				                    <div class="item-controls">
				                    	<span class="armor" title="Armure" name="{{item.name}}" data-equip="armure"  data-name="{{item.name}}"  data-img="{{item.img}}"></span>
				                    	
				                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				                    </div>

				                    <div class="item-type" title="{{item.type}}" style="display: none;">{{item.type}}</div>
				                    <div class="item-portee" style="display: none;"></div>
				                    <div class="item-dommage" style="display: none;"></div>
				                    <div class="item-poids"  style="display: none;">{{item.system.poids}}</div>
				                    <div class="item-valeur"  style="display: none;">{{item.system.valeur}}</div>				                     
				                </li>
			            {{/each}}
			            {{#each actor.inventaire as |item id|}}
			            		<li class="item fexrow objets active" data-item-id="{{item._id}}">
					    			<div class="item-name" title="{{item.name}}">{{item.name}}</div>
				                    <div class="item-image"><div class="item-qty">{{item.system.quantite}}</div><img src="{{item.img}}" title="{{item.system.description}}"/></div>
				                    <div class="item-description item-info" data-item-id="{{item._id}}" data-name="{{item.name}}" data-desc="{{item.system.description}}" data-cout="{{item.system.valeur}}" data-type="{{item.type}}" data-img="{{item.img}}"><span title="{{item.system.description}}">{{item.system.description}}</span></div>
				                    <div class="item-controls">				                    	
				                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				                    </div>

				                    <div class="item-type" title="{{item.type}}" style="display: none;">{{item.type}}</div>
				                    <div class="item-portee" style="display: none;"></div>
				                    <div class="item-dommage" style="display: none;"></div>
				                    <div class="item-poids"  style="display: none;">{{item.system.poids}}</div>
				                    <div class="item-valeur"  style="display: none;">{{item.system.valeur}}</div>				                     
				                </li>
			            {{/each}}
		        		</ul>
				</div>
				{{!-- Features Tab --}}
				<div id="features" class="tab features"  data-group="primary" data-tab="features" style="height: 696px;">
					<h2>{{localize 'liber.attributs'}}</h2>
					<div style="padding: 5px;">
						{{#each actor.system.caracteristique as |value caract|}}
						<div class="compt">
						  <p><a class="attribut" data-val="{{value}}" title="{{caract}}">{{localize caract}}</a></p>
						  <input class="cpt{{@index}}" type="text" name="system.caracteristique.{{caract}}" value="{{value}}">
						</div>
						{{/each}}
						
						

						<div class="clear"></div>
			    	    <div class="compt" style="width: 100%"><p style="float:left;font-size: 1.3em">{{localize 'liber.restant'}}*<br><span style="font-size: 0.8em">*{{localize 'liber.hors'}}</span></p><input class="restant" type="text" value="{{actor.system.restant}}" style="font-size: 2em;height: 50px;width: 50px;float: right;" readonly>
			    	    </div>
		    		</div>
				</div>

				{{!-- Carac Tab --}}
				<div id="carac" class="tab carac" data-group="primary" data-tab="carac" style="height: 696px;">
					<h2>{{localize 'liber.perso'}}</h2>
					{{#each actor.system.caractere as |value caract|}}
					<div class="compt">
						<span>{{localize caract}} :</span><input class="{{caract}}" name="system.caractere.{{caractt}}" type="text" value="{{value}}"/>
					</div>
					{{/each}}
				</div>
				

				{{!-- Pouvoirs Tab --}}
				<div id="spells" class="tab spells" data-group="primary" data-tab="spells" style="height: 690px;">
					<div class="rexrow stat bucketmagie" style="display: flex;">
						<div class="grid-2col">
					    	<select class="magieslistes" style="height: 40px;">
			                    {{#select actor.system.magie}}
				                    {{#each actor.system.alert.listemag.liste}}
				                    <option value="{{this.name}}" title="{{this.description}} - {{this.cout}}" data-cout="{{this.cout}}" data-classe="{{this.classe}}" data-cible="{{this.cible}}" data-img="{{this.img}}" data-degat="{{this.degat}}" data-description="{{this.description}}" data-duree="{{this.duree}}">{{this.name}}</option>
				                    {{/each}}
			                    {{/select}}
			                </select>
			            </div>
			            <div class="grid-2col">
			            	<a class="addsort">{{localize 'liber.addsort'}}</a>
			            </div>
	        		</div>
					<ul class="items-list">
						{{#each actor.sort as |item id|}}
					    		<li class="item fexrow" data-item-id="{{item._id}}" data-name="item">
					    			<div class="item-name" title="{{item.name}}" style="height: 30px;">{{item.name}}</div>
				                    <div class="item-image"><div class="item-cout">{{item.system.cout}}</div><img src="{{item.img}}" title="{{item.system.description}}"/></div>
				                    <div class="item-description item-info" data-item-id="{{item._id}}" data-name="{{item.name}}" data-desc="{{item.system.description}} - {{item.system.cible}} {{item.system.duree}}" data-cout="{{item.system.cout}}" data-type="{{item.type}}" data-img="{{item.img}}"><span title="{{item.system.description}} ">{{item.system.description}}</span></div>
				                    <div class="item-controls">
				                    	<a class="item-control item-lancer" title="Lancer Sort"><i class="fa-solid fa-dice-d20" data-name="{{item.name}}" data-desc="{{item.system.description}}" data-class="{{item.system.classe}}" data-cout="{{item.system.cout}}" data-img="{{item.img}}" data-dice="{{item.system.degats}}" data-item-id="{{_id}}"></i></a>
				                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				                    </div>

				                    <div class="item-type" title="{{item.type}}" style="display: none;">{{item.classe}}</div>
				                    <div class="item-portee" style="display: none;"></div>
				                    <div class="item-dommage" style="display: none;"></div>
				                    <div class="item-cible"  style="display: none;">{{item.system.cible}}</div>
				                    <div class="item-valeur"  style="display: none;">{{item.system.duree}}</div>				                     
				                </li>
			            {{/each}}
			        </ul>
					
					<div class="clear"></div>
				        
			            
		        		
				    <div class="grid-2col" style="text-align: center;color:#fff">
				    	<input class="coutmax" style="{{actor.system.alert.coutmax}}" type="text" value="{{actor.system.coutmax}}" readonly><br>{{localize 'liber.maxcost'}}
				    </div>
				    <div class="grid-2col" style="text-align: center;color:#fff">
				    	<h2 style="text-transform: none;">
				    		<span class="grid-2col">
				    		<input class="maxsort" style="{{actor.system.alert.maxsort}}" type="text" value="{{actor.system.maxsort}}" readonly><br>{{localize 'liber.nb'}}*
				    	</span>
				    	<span class="grid-2col">
	        				<img src="systems/liber/assets/magie/{{actor.system.listemag.img1}}.jpg" style="height: 40px; width: 40px; float: right;"/>
	        				<img src="systems/liber/assets/magie/{{actor.system.listemag.img2}}.jpg" style="height: 40px; width: 40px; float: right;"/></span><div class="clear"></div></h2>
				    	
				    </div>
				    <div class="clear"></div>
				    <p style="text-align: center;color:#eeeeee">*{{localize 'liber.plus'}}</p>

				</div>
				{{!-- Lab Tab --}}
				<div id="lab" class="tab stats" data-group="primary" data-tab="lab" style="height: 696px;padding: 5px">
	                <div class="rexrow">
	                	<div class="grid-2col" style="text-align: center;color:#fff">
					    	<h2>{{localize 'liber.sex'}}</h2>
							<SELECT class="sexliste" name="system.sexe">
									{{#select actor.system.sexe}}
					                  	<option value="{{localize 'liber.sex1'}}">{{localize 'liber.sex1'}}</option>
					                    <option value="{{localize 'liber.sex2'}}">{{localize 'liber.sex2'}}</option>
					                    <option value="{{localize 'liber.sex0'}}">{{localize 'liber.sex0'}}</option>
					                {{/select}}
				                </SELECT>
					    </div>
					    <div class="grid-2col" style="text-align: center;color:#fff">
					    	<h2>{{localize 'liber.race'}}</h2>
							<SELECT class="raceliste" name="system.race">
								{{#select actor.system.race}}
									{{#each config.raceTypes as |race|}}
										<option value="{{localize race}}">{{localize race}}</option>
									{{/each}}	                    
				                {{/select}}
			                </SELECT>
					    </div>
				    	
					</div>

					<div class="clear"></div>
	                <div class="rexrow" style="margin-top: 30px;">
				    	<div class="grid-2col" style="text-align: center;color:#fff">
							<h2>{{localize 'liber.talent'}}</h2>
							<SELECT class="talentliste"  name="system.talent">
								{{#select actor.system.talent}}
									{{#each config.talentTypes as |talent|}}
										<option value="{{localize talent}}">{{localize talent}}</option>
									{{/each}}
                                {{/select}}
                            </SELECT>   
                        </div>
                        <div class="grid-2col" style="text-align: center;color:#fff">
                            <h2>{{localize 'liber.faiblesse'}}</h2>
                            <SELECT class="faiblesseliste"  name="system.faiblesse">
                            	{{#select actor.system.faiblesse}}
                                    {{#each config.faiblesseTypes as |faiblesse|}}
										<option value="{{localize faiblesse}}">{{localize faiblesse}}</option>
									{{/each}}
                                {{/select}}
		                    </SELECT>
						</div>
					</div>

					<div class="clear"></div>
	                <div class="rexrow" style="margin-top: 30px;">
				    	<div class="grid-2col" style="text-align: center;color:#fff">
				    		<h2>{{localize 'liber.clan'}}</h2>
							<SELECT class="clanliste"  name="system.clan">
							{{#select actor.system.clan}}
								
								{{#each config.clanDragonTypes as |clan|}}
								<option class="dragon" value="{{localize clan}}">{{localize clan}}</option>
								{{/each}}
								{{#each config.clanHumainTypes as |clan|}}
								<option class="humain" value="{{localize clan}}">{{localize clan}}</option>
								{{/each}}
								{{#each config.clanDemonTypes as |clan|}}
								<option class="demon" value="{{localize clan}}">{{localize clan}}</option>
								{{/each}}
								{{#each config.clanDrauchTypes as |clan|}}
								<option class="drauch" value="{{localize clan}}">{{localize clan}}</option>
								{{/each}}  
								{{#each config.clanAllTypes as |clan|}}
								<option class="all" value="{{localize clan}}">{{localize clan}}</option>
								{{/each}}                         
			                {{/select}}
			                </SELECT>
						</div>
						<div class="grid-2col" style="text-align: center;color:#fff">
							<h2>Religion</h2>
							<SELECT class="religionliste" name="system.religion">
							{{#select actor.system.religion}}
								{{#each config.religionHumainTypes as |religion|}}
								<option class="humain" value="{{localize religion}}">{{localize religion}}</option>
								{{/each}}
								{{#each config.religionDragonTypes as |religion|}}
								<option class="dragon" value="{{localize religion}}">{{localize religion}}</option>
								{{/each}}
								{{#each config.religionDemonTypes as |religion|}}
								<option class="demon" value="{{localize religion}}">{{localize religion}}</option>
								{{/each}}
								{{#each config.religionDrauchTypes as |religion|}}
								<option class="drauch" value="{{localize religion}}">{{localize religion}}</option>
								{{/each}}
								{{#each config.religionAllTypes as |religion|}}
								<option class="all" value="{{localize religion}}">{{localize religion}}</option>
								{{/each}}
								<option class="aucun" value="{{localize 'liber.avantrace79'}}">{{localize 'liber.avantrace79'}}</option>
				            {{/select}}
			                </SELECT>
						</div>
					</div>

					<div class="clear"></div>
	                <div class="rexrow" style="margin-top: 30px;">
				    	<div class="grid-2col" style="text-align: center;color:#fff">
							<h2>{{localize 'liber.metier'}}</h2>
							<SELECT name="system.metier" class="metier">
								{{#select actor.system.metier}}
                                    {{#each config.metierTypes as |metier|}}
										<option class="classique" value="{{localize metier}}">{{localize metier}}</option>
									{{/each}}
				                  	<option class="guerrier" value="{{localize 'liber.avantrace93'}}">{{localize 'liber.avantrace93'}}</option>
				                  	<option class="croiser" value="{{localize 'liber.avantrace94'}}">{{localize 'liber.avantrace94'}}</option>
				                {{/select}}
			                </SELECT>&nbsp;
						</div>
		                <div class="grid-2col" style="text-align: center;color:#fff">
		                	<h2>{{localize 'liber.fiche'}}</h2>
			                <input type="a" value="{{localize 'liber.generer'}}" class="ficheperso">
			            </div>			            
					</div>
				</div>
				<div class="clear"></div>
			</section>
		</div>
	</div>	
</form>